.who-we-are {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.who-we-are-wrapper {
    background:  linear-gradient(rgba(143,80, 0, 0.4),transparent);
    padding-bottom: 10vh;
}

.what-is-amazon-fba {
    width: 50%;
    text-align: center;
    margin: 0 auto
}

.amazon-guide {
    padding-top: 5vh;
}

.statistics {
    padding: 4vh 5vh;
    display: inline-block;
    width: 20%;
}

.amazon-step {
    border: 2vh;
    /* border-bottom: 10vh; */
    /* margin: 2vh; */
    display: inline;
    width: 20%;
}

.amazon-step-wrapper {
    border: double;
}

.statistics-wrapper {
    text-align: center;
    background:  linear-gradient(rgba(143,80, 0, 0.4),transparent);
    padding: 3vh;
}




.book-now{
    position: fixed;
    right: 0;
    top: 50%;
    background-color: rgb(49, 67, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;
    cursor:pointer;
    padding: 10px;
    border-radius: 10px;
}

.service-table {
    border: double rgb(39, 1, 1);
    margin-bottom: 10vh;
    font-size: large;
    display: inline-table;
    /* background-color: rgb(187, 167, 167); */
    width: 30%;
}



th {
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

td {
    border: 1px solid rgb(87, 18, 18);
    /* text-align: "center" */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.other-course{
    display: block;
    background-color: rgb(49, 67, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;
    cursor:pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 3vh auto
}

a {
    text-decoration: none;
}

/* .other-course-wrapper {
    margin: 100px;
} */


@media screen and (max-width: 1000px) {
    .who-we-are {
        /* display: block; */
        width: 100%;
    }
    .amazon-guide {
        width: 100%;
        height: auto;
    }
    .statistics{
        margin: 0 auto;
        display: block;
        width: 80%;
    }
    .amazon-step-wrapper{
        border: none
    }
    .amazon-step-item{
        width: 100%;
        height: auto;
    }
    .what-is-amazon-fba{
        width: 80%;
    }
    .service-table{
        width: 100%;
    }
  }